<div class="container jumbotron">
  <div class="row">
    <div class="col-xs-12"><h1>Query Company</h1>
      <p>stable,fast for free search<br><span class="package-amount"><small>include </small><strong>3348</strong><small> company records</small></span>
      </p>
      <div class="search-wraper" role="search">
        <div class="form-group">
          <input class="form-control search clearable" placeholder="搜索公司名，例如：中经社" autocomplete="off" autofocus=""
                 tabindex="0">
          <i class="fab fa-searchengin anticon anticon-search"></i></div>

      </div>
    </div>
  </div>
</div>
