<footer id="footer" class="footer hidden-print">
  <div class="container">
    <div class="row">
      <div class="footer-about col-md-6 col-sm-12" id="about"><h4>关于 QuerySth</h4>
        <p>QuerySth 前端开源项目
          <a href="https://github.com/superblogs/super-susu" target="_blank">Super-SuSu</a> 仓库。</p>
        <p>提供了稳定、可靠的免费 查询数据服务。</p>
        <p>反馈或建议请发送邮件至：hwj_gz@163.com</p></div>

      <div class="footer-techs col-md-2 col-sm-12"><h4>我们用到的技术</h4>
        <ul class="list-unstyled list-inline">
          <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap</a></li>
          <li><a href="http://www.angular.cn/" target="_blank" >Angular5</a></li>
          <li><a href="http://www.java.com/" target="_blank" >Java</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy-right"><span>© 2018-2018</span> <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a>
    <span>京公网安备999999999</span></div>
</footer>
