<nav class="navbar navbar-default navbar-static-top nav-bar-labit">
  <div class="container">
    <div class="navbar-header">

      <!-- Branding Image -->


      <a class="navbar-brand" href="https://labit.io/intro">
        <img id="site-logo" src="../../assets/fonts/labit-logo-anton.svg">
      </a>
      <a class="mobile-menu"><i class="fa fa-bars"></i></a>

    </div>

    <div class="collapse navbar-collapse" id="app-navbar-collapse">

      <ul class="nav navbar-nav navbar-right profile-navbar-nav">
        <!-- Authentication Links -->
        <li><a href="https://labit.io/login">Login</a></li>
        <li><a href="https://labit.io/register">Register</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right search-toggle">
        <li class="dropdown">
          <a><i class="fa fa-search"></i></a>
        </li>
      </ul>
















      <ul class="nav navbar-nav navbar-right navbar-search-bar">
        <li>
          <form id="search-form" action="/search" method="GET">
            <input type="text" name="q" class="search-header" placeholder="search" value="">
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
          </form>
        </li>
      </ul>

    </div>
  </div>
</nav>
