.site-header {
  position: relative;
  text-align: center;
  background-color: #27ae60;
  color: #fff;
  margin-bottom: 0;
}

.jumbotron {
  background-color: #27ae60;
  color: #fff;
  margin-bottom: 0;
}

